<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<title>Dimitri Fourny | {{ page.title }}</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="Passionate security researcher.">
  	<meta name="author" content="Dimitri Fourny">
	
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
  	<link href="/assets/css/syntax.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  	<link rel="shortcut icon" href="/assets/img/favicon.png">
</head>

<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Dimitri Fourny</a>
	          	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
		    </div>

		    <div class="navbar-collapse collapse" id="navbar-main">
		      <ul class="nav navbar-nav navbar-right">
            <li {% if page.title == "About" %} class="active" {% endif %}><a href="/about.html">About</a></li>
		        <li><a href="https://twitter.com/DimitriFourny">Twitter</a></li>
            <li><a href="https://github.com/DimitriFourny">GitHub</a></li>
		        <li><a href="http://fr.linkedin.com/pub/dimitri-fourny/58/283/13a/">Linkedin</a></li>
		      </ul>
		    </div>
		</div>
  </div>