{% if site.data.navigation %}
  <div id="navigation">
    <nav id="primary-nav">
      {%- for link in site.data.navigation -%}
        {%- if link.url contains '://' -%}
          {%- assign url = link.url -%}
        {%- else -%}
          {%- assign url = link.url | relative_url -%}
        {%- endif -%}

        <a href="{{ url }}">{{ link.title }}</a>
        {%- if link != site.data.navigation.last -%}
          <span> | </span>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  </div>
{% endif %}
