<!doctype html>
<html lang="{{ .Site.Language.Locale }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div {{ if .IsHome }}id="df-homepage"{{ end }} class="df-site{{ if not .IsHome }} df-interior{{ end }}">
      <a class="df-skip-link" href="#main-content">Skip to content</a>
      {{ partial "header.html" . }}
      <main id="main-content">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ if .IsHome }}<script src="{{ "js/home.js" | relURL }}" defer></script>{{ end }}
    {{ partial "icon-license.html" . }}
  </body>
</html>
