body {
  margin: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* background-color: #ffffff; */
  /* background: linear-gradient(180deg, #165A5A 400px, #ffffff 400px); */
  color: #3c3e3e;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  text-align: justify;
}

a {
  color: #165A5A;
  text-decoration: underline;
  text-decoration-color: #A1597D;
  font-weight: normal;
}

a:hover {
  color: #A1597D;
}

#nav-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px 10px;
  
  background-color: #ffffff;
  border-bottom: solid 1px #e7e7e7;
}

#nav-logo {
  margin: auto;
}

#nav-header nav {
  margin: auto;
  padding: 20px 10px;
}

#nav-header nav a {
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  color: #3c3e3e;
}

#nav-header nav a:hover {
  color: #A1597D;
}

#site-title {
  text-align: center;
}
#site-title a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

#site-description {
  text-align: center;
}

#content {
  flex: 1;
}

section {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 10px;
  background-color: #ffffff;
}

section p {
  line-height: 140%;
}

.entry {
  padding-top: 30px;
}

.entry-title {
  margin: 0px;
  padding: 0px;
}

.entry-date {
  margin: 2px;
  font-size: 0.8rem;
}


.page-content h1 { font-size: 2em; }
.page-content h2 { font-size: 1.5em; }
.page-content h3 { font-size: 1.3em; }

.page-content h1, h2, h3 {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #165A5A;
}

.page-content h1 a, h2 a, h3 a {
  font-weight: bold;
  text-decoration: none;
  color: #165A5A;
}

.page-content h1 a:hover, h2 a:hover, h3 a:hover {
  color: #A1597D;
} 

.page-content img {
  display: block;
  max-width: 90%;
  margin: 50px auto;
}

code {
  font-family: "Source Code Pro", monospace;
}

pre {
  margin: 0px;
}

pre code {
  font-size: 0.9em;
  color: #383838;
}

.highlight, .chroma, pre {
  overflow-x: auto;
  background-color: #f4f8f8;
}

.highlight {
  padding: 10px;
}

footer {
  max-width: 800px;
  margin: auto;
}

.copyright {
  float: right;
}

.http-error {
  text-align: center;
}

.http-error h1 {
  font-size: 10rem;

  background: linear-gradient(120deg, #165a5a 33%, #a1597d 66%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.avatar {
  border-radius: 50% !important;
}